@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
/* custom slide bar */

::-webkit-scrollbar {
  width: 6px;
  height:6px;
}
::-webkit-scrollbar-track {
border-radius: 10px;
}
body::-webkit-scrollbar-track {
    /* background-color: #6c7ebb; */
  border-radius: 0px;
}
.dark ::-webkit-scrollbar-track{
    /* background-color: #31313a; */
    border-radius: 0 10px 10px 0;
}
::-webkit-scrollbar-thumb {
  
  background-image: linear-gradient(#4ade80, #22b55a);
  border-radius: 20px;
}

/* image  */
.hover-img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: 1s ease-in-out;
}
.hover-img:hover {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}


/* rain class
 */
 
 i{
  position: absolute;
  height: 6px;
  width: 6px;
  background: linear-gradient(transparent,#22b55a);
  animation: animate 10s linear infinite;
  border-radius: 50%;
 }

@keyframes animate {
  0%{
    transform: translateY(600px);
  }
  100%{
    transform: translateY(clac(100vh))
  }
}